/Termin_5/Vorlagen

.Rhistory
.gitignore

*dds.log
*dds.pro
Termin_4/code/dds.log
*.pro
/Termin_1/Vorlagen/quickstart.R
/Termin_1/Vorlagen/golm_weather_station.R
/Termin_2/~$Termin_2_Populationsmodelle.pptx
/Termin_4/Vorlagen/abc.R
/Termin_4/Vorlagen/einheitsganglinie.R
/Termin_6/Vorlagen/_abcd.R
/Termin_6/Vorlagen/_mopex.R
/Termin_6/Vorlagen/diagnose.R
/Termin_1/Vorlagen/quickstart2.R
/Termin_1/folien/UebungModellierung#1.pdf
/Termin_2/Vorlagen/3_exp_Wachstum_umwelt.R
/Termin_3/Vorlagen/4_log_Wachstum.R
/Termin_3/Vorlagen/5_log_Wachstum_umwelt.R
/Termin_3/Vorlagen/6_log_Wachstum_umwelt_gekoppelt.R
codefight_aliases.xlsx
